<label class="control-label">Create a new channel:</label>
{{input value=newChannelName enter='createChannel' classNames='form-control'}}
<button {{action 'createChannel'}} class="btn btn-primary btn-block btn-sm">Create</button>
{{yield}}