<label class="control-label">Create a channel:</label>
{{input value=newChannelName classNames='form-control'}}
<button {{action 'createChannel'}}
  class="btn btn-primary btn-sm">Create Channel
</button>

<br><br>