<label class="control-label">Say:</label>
{{input value=msgText enter='createMsg' classNames='form-control'}}
<button {{action 'createMsg'}} class="btn btn-primary btn-block btn-sm">Send</button>
{{yield}}