<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="http://summit.hackcyprus.com/assets/img/hcs.svg" width="250" height="30">
    Hack Slack
  </a>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-2 sidebar">
      <h4>Available Channels</h4>
      <ul class="nav flex-column">
        {{#each model as |channel|}}
          <li class="nav-item">
            {{#link-to 'channel' channel.id classNames='nav-link'}}{{channel.title}}{{/link-to}}
          </li>
        {{/each}}
      </ul>
      <hr>
      {{new-channel-form}}
    </div>
    <div class="col-10 main">
      {{outlet}}
    </div>
  </div>
</div>
